footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(72, 111, 255, 1), rgba(189, 91, 255, 1) 50%, rgba(255, 117, 163, 1));
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 15px 30px;
    box-sizing: border-box;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

a img {
    height: 40px;
}

.touroku {
    width: 80px;
    height: 80px;
}